/* .custom-card .custom-card-content .discount-value {
    font-size: 2rem !important;
    font-weight: bold !important;
    text-align: center !important;
    margin: 0 !important;
}

.custom-card .custom-card-content .discount-percentage {
    color: #2B8EAD !important;
    font-weight: bold !important;
}

.custom-card .custom-card-content .error-message {
    color: #e00000 !important;
    text-align: center !important;
    font-weight: bold !important;
} */
